.sectionAuth {
  margin: 0 auto;
  width: 800px;
  //height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    width: 100%;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
