.submitForm__btn {
  width: 150px;
  height: 50px;
  border-radius: 5px;
  color: black;
  font-weight: bold;
  font-size: 20px;
  border: none;
  background-color: #49DEFF;
}

.submitForm__btn:hover {
  background-color: black;
  color: #49DEFF;
}
