.container {
  padding-left: 0;
  margin: 0;
  display: flex;
  list-style-type: none;

  li {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60px;
    min-width: 200px;
    font-weight: bold;
    font-size: 28px;
    text-decoration: none;

    .icons_container {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      a {
        padding: 5px;
        width: 70px;
      }

      a:nth-last-child(1).active {
        circle {
          fill: white;
          stroke-width: 1;
          stroke: #303030;
        }
      }

      a:nth-last-child(1):hover {

        circle {
          fill: white;
          stroke-width: 1;
          stroke: #303030;
        }
      }

      a:nth-last-child(2) {

        div {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50px;
            height: 50px;
        }
      }

      a:nth-last-child(2).active {

        div {
          border: 1px solid black;
          background-color: white;
          border-radius: 50%;
        }

      }

      a:nth-last-child(2):hover {

        div {
          border: 1px solid black;
          background-color: white;
          border-radius: 50%;
        }

      }

      a:nth-last-child(3) {
        div {
          width: 50px;
          height: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      a:nth-last-child(3):hover {

        div {
          border: 1px solid black;
          background-color: white;
          border-radius: 50%;
        }
      }

      a:nth-last-child(3).active {

        div {
          border: 1px solid black;
          background-color: white;
          border-radius: 50%;
        }
      }

    }
  }

  li:nth-last-child(2) {
    min-width: 260px;
  }

  li a {
    text-decoration: none;
    color: #303030;
  }
  li a:hover {
    text-decoration: underline;
    font-size: 30px;
  }
  li a.active {
    text-decoration: underline;
  }
}


@media (max-width: 1024px) {
  .container li {
    height: 100%;
    width: 100%;
    font-size: 24px;
  }

  .container li a:hover {
    font-size: 26px;
  }
}

@media (max-width: 860px) {
  .container {
    width: 75%;
  }
}

@media (max-width: 600px) {
  .container {
    width: 100%;
  }

  .container li {
    font-size: 22px;
  }
}

@media (max-width: 425px) {
  .container {
    width: 100%;
  }

  .container li {
    font-size: 18px;
  }
}
